#article_section{
    width: 1000px;
    height: 850px;
    margin-left: 60px;
    margin-top: 30px;
}
#article_section article{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#article_section img{
    clear: both;
    width: 140px;
    height: 140px;
    float: left;
    margin-left: 20px;
    margin-top: 1px;
}
#article_section h1{
    color: #03045E;
    font-size: 1.4em;
    padding: 15px;
    margin-left: 5px;
    text-decoration: underline;
}
#article_section h2 a{
    text-decoration: none;
    color: rgb(0,0,0);
}
#article_section h2 a:hover{
    color: rgb(50,50,50);
}
#article_section h2{
    font-size: 1.1em;
}
.article_desc{
    float: left;
    width: 250px;
    height: 150px;
    margin-left: 15px;
    padding-top: 3px;
}
.article_desc p:nth-child(2){
    margin-top: 7px;
    line-height: 1.4em;
    font-size: 0.95em;
}
.article_desc p:nth-child(3){
    margin-top: 7px;
    font-size: 0.9em;
    color: rgb(150,150,150);
}
.article_desc h2:hover{
    text-decoration: underline;
}
