#posting{
    background-color: white;
    width: 950px;
    height: 1120px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid gray;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#posting h1{
    text-decoration: none;
    margin-left: 5px;
    color: rgb(0,0,100);
}
#posting h2{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 1.6em;
}
#posting p.date{
    padding-left: 24px;
    padding-top: 3px;
    font-size: 0.9em;
    margin-bottom: 5px;
}
#posting p:not(.date){
    line-height: 22px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 3px;   
}
table {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 904px;
    font-size: 0.8em;
    margin-left: 20px;
}
th, td{
    line-height: 1.5em;
}
